streamlit
streamlit-webrtc
librosa
pydub
scikit-learn
speechbrain
torch
torchaudio
numpy
matplotlib
soundfile
flask
fastapi
uvicorn
jinja2
faker
seaborn
noisereduce
pinecone-client
